/* 
COLOR PLAETTE

Logo background color: rgb(156 214 244);
The Booleaner: rgb(102 178 255);
Highlight: rgb(255 255 2);
Table header: rgb(127 166 251);
Table row 1: rgb(224 229 242)
Table row 2: rgb(255 255 255);
Footer: rgb(48 58 107);
Footer font color: White;
*/

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Logo section */
.logo { 
    background-color:rgb(156 214 244);
    height: 100px;
    background-image: url("../img/pattern.png");
    background-size: 40%;
}

.logo img {
    width: 170px;
    height: 100px;
    margin-left: 20px;
}

/* Introductory content */
.author-info {
    color: gray;
    font-size: small;
    margin-bottom: 20px;
}

.img-description {
    font-size: 15px;
}

.thebooleaner {
    color: rgb(102 178 255);
}

/* Main info */
.highlight {
    background-color: rgb(255 255 2);
}

.list {
    margin-left: 20px;
}

/* table */
.head-color {
    background-color: rgb(127 166 251);
    color: white;
}

.bodycolor {
    background-color: rgb(224 229 242);
}

.colwidth {
    width: 20%;
}

.colwidth-2 {
    width: 60%;
}

/* footer */
footer {
    background-color: rgb(48 58 107);
    padding: 20px;
}

footer p {
    color: white;
    font-size: 15px;
    text-align: center;

}

/* general rules */
.content-margin {
    margin: 20px;
}